/* Потом удалить. Для теста верстки */
/* * {
  border: 1px solid red !important;
} */
/* Потом удалить. Для теста верстки */

/* *:focus {
  outline: 1px dashed #2196F3 !important;
} */


/* Reset default browser styles for forms */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
/* Reset default browser styles for forms */


/* Styles for all tags (fonts) */
body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  font-weight: 400;
}
/* Styles for all tags (fonts) */


/* Styles for app background container */
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-sizing: inherit;
}
/* Styles for app background container */


/* Styles for central container */
.main-container {
  margin: auto 0; 
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  max-width: 1100px;
  box-sizing: inherit;
  margin: 30px 0; 
  padding: 40px 20px 0 20px;
  background: #fff;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media (max-width: 640px) {
  .main-wrapper {
    width: 90vw;
    padding: 20px 10px 0 10px;
  }
}
/* Styles for central container */


/* Styles for columns of central container */
.column-container {
  width: 50%;
  box-sizing: inherit;
  padding: 0 20px 40px 20px;
}

@media (max-width: 640px) {
  .column-container {
    width: 100%;
    padding: 0 10px 20px 10px;
  }
}
/* Styles for columns of central container */